@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Montserrat:wght@300&display=swap');

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: auto;
  background-color: #152428;
}

/*a,a:visited,a:active,a:hover {
  color: #FFF;
  text-decoration: underline;
}*/

/*.loading-state {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
}*/

.container {
  height: 100vh;
  align-items: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: "Montserrat",sans-serif;
  font-size: 14px;
  color: #F5EDED;
}

.cards1 {
  justify-content: center;
  align-items: center;
  margin: auto;
}

.cards2 {
  display: none;
}
.card-white img {
  height: 160px;
  width: auto;
  margin: auto;
}

.card1 {
  visibility: hidden;
}

.card2 {
  visibility: hidden;
}

.card3{
  visibility: hidden;
}

.text-wrapper {
  justify-content: center;
  align-items: center;
  width: 65vw;
  margin: auto;
}

.projet {
  display: flex;
  margin: auto;
  font-weight: lighter;
  list-style: none;
}

.card-desc{
    padding: 20px;
    margin: auto;
    background-color: #1C3035;
    border-radius: 25px;
    margin: 12px;
    width: 100%;
}



h1 {
  font-size: 4rem;
  font-family: 'Amatic SC', cursive;
  margin: 0;
  padding-top: 2rem;
}

h2 {
  font-size: 1rem;
  font-weight: lighter;
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin: 0;
}

h3 {
  font-size: 2rem;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 2px;
  text-align: center;
}

.contact {
  text-align: center;
  padding-top: 22px;

}

.contact p {
  font-size: 0.8rem;
  font-style: italic;
  margin-top: 28px;
  margin-bottom: 12px;
}

.button {
  background-color: #c0695c;
  color: #F5EDED;
  font-family: 'Amatic SC';
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 12px 22px;
  border-style: none;
  border-radius: 12px;
  text-decoration: none;
  }

.button:hover {
  cursor: pointer;
  background-color: #B05145;
  color: #F5EDED;
  box-shadow: rgba(0, 0, 0, 0.5) 1.95px 1.95px 2.6px;
}

.slideDown {
  animation-name: slideDown;
  -webkit-animation-name: slideDown;

  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  visibility: visible !important;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  /*50%{
    transform: translateY(5%);
  }*/
  /*65%{
    transform: translateY(-3%);
  }
  80%{
    transform: translateY(5%);
  }*/
  /*95%{
    transform: translateY(-3%);
  }*/
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }
  /*50%{
    -webkit-transform: translateY(8%);
  }
  65%{
    -webkit-transform: translateY(-4%);
  }
  80%{
    -webkit-transform: translateY(4%);
  }
  95%{
    -webkit-transform: translateY(-2%);
  }*/
  100% {
    -webkit-transform: translateY(0%);
  }
}
